{% extends "exam/main.html" %}
{% load static %}
{% block body %}

  <script>
     const menuBtn = document.querySelector('.menu-btn')
     const navLink = document.querySelector('.nav-link')

     menuBtn.addEventListener('click',function(){
      navLink.classList.toggle('mobile-menu')
      document.querySelector('.body').onclick = function(){
                navLink.classList.remove('mobile-menu')
            }
     })
  </script>
    <form action="">
      <h1 ><a href="Home.html">Ethio Exam</a></h1>
      <div class="title">
        <h2>CONTACTUS</h2>
      </div>
      <div class="half">
        
        <div class="item">
          <label for="email">EMAIL</label>
          <input type="text" id = "email">
        </div>
      </div>
      <div class="full">
        <label for="message">MESSAGE</label>
        <textarea name="" id = "message"></textarea>
      </div>
      <div class="action">
        <input type="submit" value = "SEND MESSAGE">
        <input type="reset" value = "RESET">
      </div>
    </form>
    <footer>
      <div class="footer">
         <div class="socialIcons">
             <a href="" class = "fa fa-twitter"></a>
             <a href="" class = "fa fa-facebook"></a>
             <a href="" class = "fa fa-instagram"></a>
             <a href="" class = "fa fa-youtube"></a>
         </div>
         <div class="footerNav">
             <ul>
                 <li><a href="Home.html">Home</a></li>
                 <li><a href="contactus.html">Contact us</a></li>
                 <li><a href="Aboutus.html">About us</a></li>
             </ul>
         </div>
     </div>
     <div class="footerBottom">
         <p>Copyright &copy;2023</p>
     </div>
    </footer>
{% endblock %}