
{% extends "exam/main.html" %}
{% load static %}
{% block body %}
        <script>
           const menuBtn = document.querySelector('.menu-btn')
           const navLink = document.querySelector('.nav-link')

           menuBtn.addEventListener('click',function(){
            navLink.classList.toggle('mobile-menu')
            document.querySelector('.body').onclick = function(){
                navLink.classList.remove('mobile-menu')
            }
           })
        </script>
      <div class="main">
        <div class="body">
            <h3><a></a>Exam Question</h3>
            <div class="Subject">
                <div class="N_subject">
                    <h4>Natural Science</h4>
                </div>
                <div class="C_subject">
                    <div class="N_science">
                        <img src="{% static 'main/math.jpg' %}" alt="Mathematics Exam">
                        <a href="subject/Math.html" class="Start">start</a>
                    </div>
    
                    <div class="N_science">
                        <img src="{% static 'main/chemistry.jpg' %}" alt="Chemistry Exam">
                        <a href="subject/Chemistry.html" class="Start">start</a>
                    </div>
                    <div class="N_science">
                        <img src="{% static 'main/biology.jpg' %}" alt="Biology Exam">
                        <a href="subject/Biology.html" class="Start">start</a>
                    </div>
                    <div class="N_science">
                        <img src="{% static 'main/physics.jpg' %}" alt="physics Exam">
                        <a href="subject/Physics.html" class="Start">start</a>
                    </div>
    
                </div>
            </div>
            <div class="Subject">
                <div class="N_subject">
                    <h4>Social Science</h4>
                </div>
                <div class="C_subject">
                    <div class="N_science">
                        <img src="{% static 'main/History.jpg' %}" alt="History Exam">
                        <a href="subject/History.html" class="Start">start</a>
                    </div>
    
                    <div class="N_science">
                        <img src="{% static 'main/economics.jpg' %}" alt="Economics Exam">
                        <a href="subject/Economics.html" class="Start">start</a>
                    </div>
                    <div class="N_science">
                        <img src="{% static 'main/civics.jpg' %}" alt="Civic Exam">
                        <a href="subject/Civics.html" class="Start">start</a>
                    </div>
    
                </div>
            </div>
            <footer>
                <div class="footer">
                   <div class="socialIcons">
                       <a href="" class = "fa fa-twitter"></a>
                       <a href="" class = "fa fa-facebook"></a>
                       <a href="" class = "fa fa-instagram"></a>
                       <a href="" class = "fa fa-youtube"></a>
                   </div>
                   <div class="footerNav">
                       <ul>
                           <li><a href="Home.html">Home</a></li>
                           <li><a href="contactus.html">Contact us</a></li>
                           <li><a href="Aboutus.html">About us</a></li>
                       </ul>
                   </div>
               </div>
               <div class="footerBottom">
                   <p>Copyright &copy;2023</p>
               </div>
              </footer>

        </div>
      </div>
{% endblock %}